<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>This App</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type='text/javascript' id='lt_ws' src='http://localhost:5678/socket.io/lighttable/ws.js'></script>
</head>
<body ng-app="MyApp" layout="column">

<md-toolbar>
    <h1>Countries</h1>
</md-toolbar>


<div ng-controller="Ctrl1" ng-cloak="" class="container" layout="row" flex ng-app="MyApp">
    <!-- Country form -->
    <md-content class="green" flex="0">
        <md-content layout-padding>
            <div>
                <form name="userForm">

                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Country</label>
                            <input>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Capital</label>
                            <input>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>ISO Code</label>
                            <md-select ng-model="countryForm.isoCode">
                                <md-option ng-repeat="code in dbCountryCodes" value="{{code}}">
                                    {{code}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label>GDP</label>
                            <input type="number" step="0.01">
                            <md-icon ng-style="{'height':'12px'}" style="zoom: 0.7" md-svg-src="images/svg/euro.svg"></md-icon>
                        </md-input-container>
                        </div>

                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>Currency</label>
                            <md-select ng-model="countryForm.currency">
                                <md-option ng-repeat="curr in dbCurrency" value="{{curr}}">
                                    {{curr}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Population</label>
                            <input type="number">
                        </md-input-container>
                    </div>
                </form>
            </div>
        </md-content>
    </md-content>


    <!-- Country list-->
    <md-content class="red"  id="content" flex style="overflow: hidden;">
        <md-button flex class="md-primary md-raised" ng-click="showListBottomSheet()">New Country</md-button>
    </md-content>


    <!-- Country description-->
    <md-content class="blue" flex="45">
    </md-content>
</div>


<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-messages/angular-messages.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>

<script src="angularjavascript.js"></script>
<style>
    .red{background-color: indianred}
    .blue{background-color: lightblue}
    .green{background-color: lightgreen}
</style>
</body>
</html>
