<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This App</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body ng-app="MyApp" layout="column">

<md-toolbar>
    <h1>Countries</h1>
</md-toolbar>

<div ng-controller="Ctrl1" ng-cloak="" class="container" layout="row" flex ng-app="MyApp">



    <!-- Country list-->
    <md-content  class="red" flex="40" layout="column" style="overflow: hidden; height: 100%; width: 100%;">



        <div  style="width: 100%; height: 96%; overflow-y: scroll; padding-left:  7px; padding-right: 17px; padding-bottom: 12%; box-sizing: content-box">
            <md-card ng-repeat="countryContent in dbCountryFromFirestore">

                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{countryContent.country}}</span>
                        <span class="md-subhead">{{countryContent.capital}}</span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md card-media">
                            <img src="https://raw.githubusercontent.com/hjnilsson/country-flags/master/png250px/{{countryContent.isoCode | lowercase}}.png">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>more</md-button>
                </md-card-actions>
            </md-card>



        </div>








        <md-fab-speed-dial ng-mouseenter="" md-direction="up" class="md-scale md-fab-bottom-right">
            <md-fab-trigger class="md-fab-bottom-right" >
                <md-button  aria-label="menu" class="md-fab md-warn" ng-click="showListBottomSheet()">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible">Add country</md-tooltip>
                    <b style="font-size: 25px; font-weight: lighter;">+</b>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>
    </md-content>

    <!-- Country description-->
    <md-content class="blue" md-whiteframe="4" flex>

    </md-content>
</div>


<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.min.js"></script>
<script src="node_modules/angular-aria/angular-aria.min.js"></script>
<script src="node_modules/angular-messages/angular-messages.min.js"></script>
<script src="node_modules/angular-material/angular-material.min.js"></script>



<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyD2kcCJ95NmCGXbRmCPUl-Jz1F-TE_Bieo",
        authDomain: "firestoretestappp.firebaseapp.com",
        databaseURL: "https://firestoretestappp.firebaseio.com",
        projectId: "firestoretestappp",
        storageBucket: "firestoretestappp.appspot.com",
        messagingSenderId: "195604291792"
    };
    firebase.initializeApp(config);
    const db = firebase.firestore();

</script>

<script src="angularjavascript.js"></script>
<style>
    .red{background-color: #fafafa}
    .blue{background-color: lightblue}
    .green{background-color: lightgreen}
</style>
</body>
</html>