.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    zoom: 0.5;
}



md-list-item > button {
    width: 100%;
    text-align: left !important;
}

md-toolbar > h1 {
    padding-left: 20px;
    color: white;
}

md-toolbar {
    background-color: #303F9F !important;
}
